/*Background Images*/
.backgroundHeader{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Desktop_Backgrounds_1920x1200_6_3.png);
}

.points{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    bottom: 100px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-image: url(../assets/Starts.png);
}

.fpoint{
    animation: moveStarts 8s linear infinite;
}

.fpoint2{
    rotate: -180deg;
    animation: moveStartsReverse 8s linear infinite;
}

.rectangle{
    position: absolute;
    top: 625px;
    width: 100%;
    height: 100%;
    left: 0%;
    margin-left: 0%;
    justify-content: center;
    background-size: cover;
    text-align: center;
    padding: 0px;
    background-repeat: no-repeat;
    background-image:
    url(../assets/Rectangle.png);
}

.bodyBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    top: 1370px;
    align-items: center;
    justify-content: center;
    background-image:
    url(../assets/IMG_1334_72dpi_RGB_1.png);
    opacity: 0.8;
}

/*Images*/
.logoHeader{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 20px;
    top: 35%;
    background-image:
    url(../assets/Logo_big.png);
    animation: rotateLogo 1s cubic-bezier(0.64, 0, 0.78, 0) both;
    animation-play-state: paused ;
}

.logoHeader:hover{
    animation-play-state: running;
}

.logoLittle{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-image:
    url(../assets/Logo_little.png);
}

/*Page Design*/
.secondWindow{
    position: absolute;
    top: 1030px;
}

.footer {
    position: absolute;
    top: 2100px;
    /*2118px;*/
    width: 100%;
    left: 0%;
    background: #464547;
    justify-content: left;
    background-size: cover;
    text-align: left;
    background-size: cover;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.stelar{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: 150px;
    height: 150px;
    background-image: url(../assets/Starts_2.png);
    animation: rotateStarts 3s infinite both;
}

@media screen and (max-width: 768px) {
    .backgroundHeader{
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        bottom: 100px;
        left: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/Desktop_Backgrounds_1920x1200_6_3.png);
    }

    .rectangle{
        position: absolute;
        top: 610px;
        width: 100%;
        height: 100%;
        left: 0%;
        margin-left: 0%;
        justify-content: center;
        background-size: cover;
        text-align: center;
        padding: 0px;
        background-repeat: no-repeat;
        background-image:
        url(../assets/Rectangle.png);
    }

    .bodyBackground{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        top: 1300px;
        align-items: center;
        justify-content: center;
        background-image:
        url(../assets/IMG_1334_72dpi_RGB_1.png);
        opacity: 0.8;
    }

    .footer {
        position: absolute;
        top: 2000px;
        /*2118px;*/
        width: 100%;
        left: 0%;
        background: #464547;
        justify-content: left;
        background-size: cover;
        text-align: left;
        background-size: cover;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .stelar{
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        width: 150px;
        height: 150px;
        background-image: url(../assets/Starts_2.png);
        animation: rotateStartsMobile 3s infinite both;
    }

    .fpoint{
        animation: moveStartsMobile 8s linear infinite;
    }
    
    .fpoint2{
        rotate: -180deg;
        animation: moveStartsReverseMobile 8s linear infinite;
    }

    @keyframes rotateStartsMobile {
        from{transform: translateY(100px) scale(.5)};
        to{transform: translateY(1500px) scale(1.2)};
    }

    @keyframes moveStartsMobile {
        to{transform: rotate(1turn)};
    }
    
    @keyframes moveStartsReverseMobile {
        to{transform:  rotate(1turn)};
    }
}



@keyframes rotateLogo {
    from{transform: rotateY(-180deg) scale(.5)};
    to{transform: rotateY(180deg) scale(1.2)};
}

@keyframes rotateStarts {
    from{transform: rotateX(-180deg) scale(.5)};
    to{transform: rotateX(180deg) scale(1.2)};
}


@keyframes moveStarts {
    from{transform: translateX(-255px)};
    to{transform: translateX(1350px)};
}

@keyframes moveStartsReverse {
    from{transform: translateX(100px)};
    to{transform: translateX(1350px)};
}



