@mixin backgrounds_text {
    display: flex;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

@mixin letter_style {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}