//Variables for all classes

//General
$PercentMeasure: 100%;
$PercentAnyMeasure: 0%;
$position: absolute;

//Font
$font_family: 'Oswald Regular';
$font_family_menu: 'Source Sans Pro';
$font_style: normal;
$sub_text: 'Source Sans Pro';

//Colors
$color_button: #55C2D8;
$white_color: #FFFFFF;

